@import '../../colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100&display=swap');
h2 {
    font-family: 'Saira Stencil One', cursive;
}

.noticeInvent {
    background-color: $semitransparent;
    display: flex;
    flex-direction: column;
    border: 2px dotted $grey1;
    width: 40%;
    font-family: 'Iceland', cursive;
    margin: 3px;
    padding: 15px;
    border-radius: 10px;
}

.noticeInvent:hover {
    background-color: white;
}

.content {
    display: flex;
    justify-content: center;
}

.print {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3em;
}

.home {
    display: flex;
}

.image {
    img {
        width: 15em;
    }
}

.titleHome {
    font-family: 'Lexend Exa', sans-serif;
    font-weight: bolder;
    font-size: 1.4em;
    text-decoration: overline;
}

.finalimg {
    margin-top: -15em;
    display: flex;
    justify-content: space-between;
    .image {
        img {
            height: 15em;
        }
    }
}

.left {
    transform: rotate(180deg) scaleX(-1);
}

.right {
    transform: rotate(180deg)
}