@import '../../colors.scss';
.nav {
    display: flex;
    position: sticky;
    top: 1px;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: $marron;
    padding-bottom: 1em;
}

.nav {
    a {
        all: unset;
        font-size: 1.5em;
        cursor: pointer;
        color: $orange;
        font-weight: bolder;
        font-size: 1.7em;
    }
}