.social {
    display: flex;
    justify-content: center;
    a {
        cursor: pointer;
        img {
            width: 2em;
            height: 2em;
            padding: 8px;
        }
    }
}

.info {
    span {
        font-family: arial;
        font-style: italic;
    }
}

.circle {
    border-radius: 50px;
}

.footer {
    background-color: grey;
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a {
        color: black;
        padding: 10px;
    }
}

.contentInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}